Import

In [1]:
import pandas as pd
import numpy as np

In [2]:
import pyodbc as db
import sqlalchemy as sal
from sqlalchemy.engine import URL

In [ ]:
import matplotlib.pylab as plt
import seaborn as sns

# Create

from SQL database (pyodbc - pandas not fond of this database method)

In [3]:
select_query = '''SELECT * FROM scrapes'''
cnxn_str = ('Driver={SQL Server};'
           'Server=DESKTOP-73Q4UES\SQLEXPRESS;'
           'Database=gobbledigook;'
           'Trusted_Connecton=yes;')

In [ ]:
db_cnxn = db.connect(cnxn_str)
db_crsr = db_cnxn.cursor()

In [ ]:
db_df = pd.read_sql(select_query, db_cnxn)

from SQL database (SQLAlchemy - 1 of 2 preferred database methods for pandas)

In [4]:
sal_cnxn_url = URL.create('mssql+pyodbc', query={'odbc_connect':cnxn_str})

In [5]:
sal_engine = sal.create_engine(sal_cnxn_url)

In [7]:
with sal_engine.connect() as sal_cnxn:
    sal_df = pd.read_sql(select_query, sal_cnxn)

from CSV

In [ ]:
csv_df = pd.read_csv('enrollments.csv')

from Dictionary

In [ ]:
temp_dict = {'col1':[1,2,3], 'col2':[4,5,6], 'col3':[7,8,9]}

In [ ]:
dict_df = pd.DataFrame.from_dict(temp_dict)

from Numpy random methods

In [ ]:
def get_random_dataframe(size):
    rand_df = pd.DataFrame()
    rand_df['position'] = np.random.choice(['left', 'middle', 'right'], size).astype('category')
    rand_df['age'] = np.randint(1, 90, size).astype('int8')
    rand_df['colour'] = np.random.choice(['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet'], size).astype('category')
    rand_df['win'] = np.random.choice(['yes', 'no'], size).map({'yes':True, 'no':False})
    rand_df['probability'] = np.random.uniform(0, 1, size).astype('float32')
    return rand_df

# Read

heads and tails

In [8]:
sal_df.head(5)

,search_item,page_num,brand,description,price,rating,reviews_num
0,football,1,N/A,N/A,£11.99,4.1 out of 5 stars,"1,244"
1,football,1,N/A,N/A,£12.95,3.9 out of 5 stars,167
2,football,1,N/A,N/A,£12.99,4.1 out of 5 stars,"2,281"
3,football,1,N/A,N/A,£12.99,N/A,N/A
4,football,1,N/A,N/A,£13.99,4.4 out of 5 stars,"1,422"

In [ ]:
sal_df.tail(5)

columns and data types

In [ ]:
sal_df.columns

In [ ]:
sal_df.dtypes

summary stats

In [ ]:
sal_df.describe()

In [ ]:
sal_df.describe(include='object')

filter column

In [ ]:
sal_df[['rating', 'price', 'reviews_num']]

filter rows

In [ ]:
sal_df[(sal_df['price']<20.00) & (sal_df['reviews_num']>100)] # - price wrong datatype

iloc

In [ ]:
sal_df.iloc[15]

# Update

count nulls

In [ ]:
sal_df.replace({'N/A':None}, inplace=True)

In [ ]:
sal_df.isnull().sum()

drop null rows

In [ ]:
sal_df.dropna(inplace=True)

In [ ]:
sal_df.isnull().sum()

drop columns

In [ ]:
sal_df.drop('page_num', axis=1)

# Write-out/Delete

to CSV

In [ ]:
sal_df.to_csv('CRUD_scrapes.csv')

to SQL database (SQLAlchemy - may not be possible with pyodbc)

In [ ]:
csv_df.to_sql('csv_table', conn, if_exists='append')

In [ ]:
rows = conn.execute('SELECT TOP 5 * FROM csv_table').fetchall()
print(rows)

to JSON

In [ ]:
csv_df.to_json()

to HTML

In [ ]:
csv_df.to_html()

delete dataframe

In [ ]:
del csv_df

In [21]:
del sal_df