Import

In [22]:
import pandas as pd

In [23]:
import pyodbc as db
import sqlalchemy as sal
from sqlalchemy.engine import URL

In [ ]:
import numpy as np
import matplotlib.pylab as plt
import seaborn as sns

# Create

from SQL database (pyodbc - pandas not fond of this database method)

In [24]:
select_query = '''SELECT * FROM scrapes'''
cnxn_str = ('Driver={SQL Server};'
           'Server=DESKTOP-73Q4UES\SQLEXPRESS;'
           'Database=gobbledigook;'
           'Trusted_Connecton=yes;')

In [ ]:
db_cnxn = db.connect(cnxn_str)
db_crsr = db_cnxn.cursor()

In [ ]:
db_df = pd.read_sql(select_query, db_cnxn)

from SQL database (SQLAlchemy - 1 of 2 [SQLite] preferred database methods for pandas)

In [25]:
sal_cnxn_url = URL.create('mssql+pyodbc', query={'odbc_connect':cnxn_str})

In [26]:
sal_engine = sal.create_engine(sal_cnxn_url)
sal_cnxn = sal_engine.connect()

In [27]:
sal_df = pd.read_sql(select_query, sal_cnxn)

from CSV

In [ ]:
csv_df = pd.read_csv('enrollments.csv')

from Dictionary

In [3]:
temp_dict = {'col1':[1,2,3], 'col2':[4,5,6], 'col3':[7,8,9]}

In [ ]:
dict_df = pd.DataFrame.from_dict(temp_dict)

# Read

heads and tails

In [10]:
sal_df.head(5)

,search_item,page_num,brand,description,price,rating,reviews_num
0,football,1,N/A,N/A,£11.99,4.1 out of 5 stars,"1,244"
1,football,1,N/A,N/A,£12.95,3.9 out of 5 stars,167
2,football,1,N/A,N/A,£12.99,4.1 out of 5 stars,"2,281"
3,football,1,N/A,N/A,£12.99,N/A,N/A
4,football,1,N/A,N/A,£13.99,4.4 out of 5 stars,"1,422"

In [11]:
sal_df.tail(5)

,search_item,page_num,brand,description,price,rating,reviews_num
1087,keyring,7,wisdompro,"Wisdompro Genuine Leather Car Keychain, Univer...",£8.99,4.2 out of 5 stars,11
1088,keyring,7,Generic,Keyring Key Rings Keyrings For House Car Keys ...,£8.99,5.0 out of 5 stars,1
1089,keyring,7,BiaoGan,Retractable Keychain Keyring Heavy Duty - Biao...,£12.99,4.4 out of 5 stars,16
1090,keyring,7,YOKESIN,"Leather Car Keychains Replacement with Logo,Ca...",£15.99,5.0 out of 5 stars,5
1091,keyring,7,Ruth&Boaz,Handmade Italian Vegetable Leather Belt Loop K...,£22.99,4.3 out of 5 stars,68

columns and data types

In [12]:
sal_df.columns

Index(['search_item', 'page_num', 'brand', 'description', 'price', 'rating',
       'reviews_num'],
      dtype='object')

In [13]:
sal_df.dtypes

search_item    object
page_num        int64
brand          object
description    object
price          object
rating         object
reviews_num    object
dtype: object

summary stats

In [14]:
sal_df.describe()

          page_num
count  1092.000000
mean      4.000000
std       2.000916
min       1.000000
25%       2.000000
50%       4.000000
75%       6.000000
max       7.000000

In [15]:
sal_df.describe(include='object')

       search_item brand description   price              rating reviews_num
count         1092  1092        1092    1092                1092        1092
unique          13   110         255     153                  17         199
top       football   N/A         N/A  £19.99  4.3 out of 5 stars         N/A
freq            84   504         132      43                 223          87

filter column

In [16]:
sal_df[['rating', 'price', 'reviews_num']]

                  rating   price reviews_num
0     4.1 out of 5 stars  £11.99       1,244
1     3.9 out of 5 stars  £12.95         167
2     4.1 out of 5 stars  £12.99       2,281
3                    N/A  £12.99         N/A
4     4.4 out of 5 stars  £13.99       1,422
...                  ...     ...         ...
1087  4.2 out of 5 stars   £8.99          11
1088  5.0 out of 5 stars   £8.99           1
1089  4.4 out of 5 stars  £12.99          16
1090  5.0 out of 5 stars  £15.99           5
1091  4.3 out of 5 stars  £22.99          68

[1092 rows x 3 columns]

filter rows

In [ ]:
sal_df[(sal_df['price']<20.00) & (sal_df['reviews_num']>100)] # - price wrong datatype

iloc

In [18]:
sal_df.iloc[15]

search_item                                             football
page_num                                                       2
brand                                                        N/A
description    Spolife Football Size 5&Size 4 Training Footba...
price                                                     £12.99
rating                                                       N/A
reviews_num                                                  N/A
Name: 15, dtype: object

# Update

count nulls

In [19]:
sal_df.isnull().sum()

search_item    0
page_num       0
brand          0
description    0
price          0
rating         0
reviews_num    0
dtype: int64

drop null rows

In [ ]:
csv_df.dropna(inplace=True)

In [ ]:
csv_df.isnull().sum()

drop columns

In [20]:
sal_df.drop('page_num', axis=1)

,search_item,brand,description,price,rating,reviews_num
0,football,N/A,N/A,£11.99,4.1 out of 5 stars,"1,244"
1,football,N/A,N/A,£12.95,3.9 out of 5 stars,167
2,football,N/A,N/A,£12.99,4.1 out of 5 stars,"2,281"
3,football,N/A,N/A,£12.99,N/A,N/A
4,football,N/A,N/A,£13.99,4.4 out of 5 stars,"1,422"
...,...,...,...,...,...,...
1087,keyring,wisdompro,"Wisdompro Genuine Leather Car Keychain, Univer...",£8.99,4.2 out of 5 stars,11
1088,keyring,Generic,Keyring Key Rings Keyrings For House Car Keys ...,£8.99,5.0 out of 5 stars,1
1089,keyring,BiaoGan,Retractable Keychain Keyring Heavy Duty - Biao...,£12.99,4.4 out of 5 stars,16
1090,keyring,YOKESIN,"Leather Car Keychains Replacement with Logo,Ca...",£15.99,5.0 out of 5 stars,5
1091,keyring,Ruth&Boaz,Handmade Italian Vegetable Leather Belt Loop K...,£22.99,4.3 out of 5 stars,68

# Write-out/Delete

to CSV

In [28]:
sal_df.to_csv('CRUD_scrapes.csv')

to SQL database (SQLAlchemy - may not be possible with pyodbc)

In [ ]:
csv_df.to_sql('csv_table', conn, if_exists='append')

In [ ]:
rows = conn.execute('SELECT TOP 5 * FROM csv_table').fetchall()
print(rows)

to JSON

In [ ]:
csv_df.to_json()

to HTML

In [ ]:
csv_df.to_html()

delete dataframe

In [ ]:
del csv_df

In [21]:
del sal_df