Import

In [1]:
import pandas as pd
import pyodbc as db

# Create

from SQL database

In [7]:
cnxn = db.connect('Driver={SQL Server};'
                  'Server=DESKTOP-73Q4UES\SQLEXPRESS;'
                  'Database=gobbledigook;'
                  'Trusted_Connecton=yes;')
crsr = cnxn.cursor()

In [3]:
select_query = '''SELECT * FROM scrapes'''
db_df = pd.read_sql(select_query, cnxn)

C:\Users\fishe\AppData\Local\Temp\ipykernel_16572\3362994704.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  db_df = pd.read_sql(select_query, cnxn)

from CSV

In [5]:
csv_df = pd.read_csv('enrollments.csv')

from Dictionary

In [4]:
tempdict = {'col1':[1,2,3], 'col2':[4,5,6], 'col3':[7,8,9]}

In [5]:
dict_df = pd.DataFrame.from_dict(tempdict)

# Read

heads and tails

In [8]:
csv_df.head(5)

,search_item,page_num,brand,description,price,rating,reviews_num
0,football,1,N/A,N/A,£11.99,4.1 out of 5 stars,"1,244"
1,football,1,N/A,N/A,£12.95,3.9 out of 5 stars,167
2,football,1,N/A,N/A,£12.99,4.1 out of 5 stars,"2,281"
3,football,1,N/A,N/A,£12.99,N/A,N/A
4,football,1,N/A,N/A,£13.99,4.4 out of 5 stars,"1,422"

In [10]:
csv_df.tail(5)

,search_item,page_num,brand,description,price,rating,reviews_num
1087,keyring,7,wisdompro,"Wisdompro Genuine Leather Car Keychain, Univer...",£8.99,4.2 out of 5 stars,11
1088,keyring,7,Generic,Keyring Key Rings Keyrings For House Car Keys ...,£8.99,5.0 out of 5 stars,1
1089,keyring,7,BiaoGan,Retractable Keychain Keyring Heavy Duty - Biao...,£12.99,4.4 out of 5 stars,16
1090,keyring,7,YOKESIN,"Leather Car Keychains Replacement with Logo,Ca...",£15.99,5.0 out of 5 stars,5
1091,keyring,7,Ruth&Boaz,Handmade Italian Vegetable Leather Belt Loop K...,£22.99,4.3 out of 5 stars,68

columns and data types

In [6]:
csv_df.columns

Index(['account_key', 'status', 'join_date', 'cancel_date', 'days_to_cancel',
       'is_udacity', 'is_canceled'],
      dtype='object')

In [7]:
csv_df.dtypes

account_key         int64
status             object
join_date          object
cancel_date        object
days_to_cancel    float64
is_udacity           bool
is_canceled          bool
dtype: object

summary stats

In [8]:
csv_df.describe()

       account_key  days_to_cancel
count  1640.000000      988.000000
mean    642.775610       43.917004
std     376.890333       50.869513
min       0.000000        0.000000
25%     322.000000        5.000000
50%     635.500000       22.000000
75%     969.250000       65.000000
max    1305.000000      249.000000

In [9]:
csv_df.describe(include='object')

          status   join_date cancel_date
count       1640        1640         988
unique         2         116         210
top     canceled  2014-11-10  2015-03-10
freq         988         131          77

In [10]:
csv_df.describe(include='bool')

       is_udacity is_canceled
count        1640        1640
unique          2           2
top         False        True
freq         1622         988

filter column

In [11]:
csv_df[['status', 'join_date']]

        status   join_date
0     canceled  2014-11-10
1     canceled  2014-11-05
2     canceled  2015-01-27
3     canceled  2014-11-10
4      current  2015-03-10
...        ...         ...
1635   current  2015-08-12
1636   current  2015-08-13
1637  canceled  2015-08-15
1638   current  2015-08-22
1639   current  2015-08-23

[1640 rows x 2 columns]

filter rows

In [12]:
csv_df[(csv_df['is_udacity']==True) & (csv_df['is_canceled']==False)]

,account_key,status,join_date,cancel_date,days_to_cancel,is_udacity,is_canceled
4,448,current,2015-03-10,NaN,NaN,True,False
616,312,current,2015-07-08,NaN,NaN,True,False
1378,1101,current,2015-02-25,NaN,NaN,True,False

iloc

In [13]:
csv_df.iloc[15]

account_key             1300
status              canceled
join_date         2014-11-10
cancel_date       2014-11-16
days_to_cancel           6.0
is_udacity             False
is_canceled             True
Name: 15, dtype: object

# Update

count nulls

In [14]:
csv_df.isnull().sum()

account_key         0
status              0
join_date           0
cancel_date       652
days_to_cancel    652
is_udacity          0
is_canceled         0
dtype: int64

drop null rows

In [15]:
csv_df.dropna(inplace=True)

In [16]:
csv_df.isnull().sum()

account_key       0
status            0
join_date         0
cancel_date       0
days_to_cancel    0
is_udacity        0
is_canceled       0
dtype: int64

drop columns

In [17]:
csv_df.drop('days_to_cancel', axis=1)

      account_key    status   join_date cancel_date  is_udacity  is_canceled
0             448  canceled  2014-11-10  2015-01-14        True         True
1             448  canceled  2014-11-05  2014-11-10        True         True
2             448  canceled  2015-01-27  2015-01-27        True         True
3             448  canceled  2014-11-10  2014-11-10        True         True
5             448  canceled  2015-01-14  2015-01-27        True         True
...           ...       ...         ...         ...         ...          ...
1624         1232  canceled  2015-07-16  2015-07-17       False         True
1625         1057  canceled  2015-07-17  2015-07-21       False         True
1628         1272  canceled  2015-07-17  2015-07-23       False         True
1632          807  canceled  2015-07-20  2015-07-22       False         True
1637         1116  canceled  2015-08-15  2015-08-18       False         True

[988 rows x 6 columns]

# Write-out/Delete

to CSV

In [18]:
csv_df.to_csv('CRUD_pandas.csv')

to JSON

In [ ]:
csv_df.to_json()

to HTML

In [ ]:
csv_df.to_html()

delete

In [21]:
del csv_df